

@media screen and (min-device-width: 768px) and (max-device-width: 1920px) { 

}



@media (max-width: 1024px){

.data_table td, strong {  font-size: 11px;}

}
@media (max-width: 990px){
	.data_table td, strong {  font-size: 11px;}
	.data_table tr td a {margin: 2px; font-size:11px;}
	.search_table_bg {padding: 4px 2px;}
	.graph_container { padding:5px;}
	.graph_heading h2 {    font-size: 13px;}
	.radio-inline, .checkbox-inline { padding-left: 10px;}
	.pie-legend { margin:0px; padding:0px;}
	.pie-legend li { font-size:11px;}
	.group_shuffling .media-body {display: inline-block;text-align: right; width: 100%;}
	#taskModal{ left:12%!important}
}

@media (max-width: 767px) {
	.remove_field { right:0px;}

	.data_table td, strong {  font-size: 11px;}
.offcanvas-toggle.is-open .icon-bar:nth-child(3){    transform: rotate(0deg) translate(0px, 0px) !important;}
.offcanvas-toggle.is-open .icon-bar:nth-child(2){    opacity: 1!important;}
#mainNav{ display:none}

.hero-title{ font-size:25px;}
.header-content-inner{ text-align:center}
.grap-mg{ text-align:center}
.section-heading{ text-align:center;}
section h3{ text-align:center}
.together-mob{ text-align:center;padding:0}
.grow-together li{ text-align:center; }
.video-mob{ width:100%; height:auto}
.video-heading{ font-size:20px}
.sign_btn{ margin-left:0; margin-top:10px}
.login-signup .btn{ margin-bottom: 18px;    padding: 3px 0;    width: 50%; color:#fff!important; border:none}
.login-signup .btn:hover{ margin-bottom: 18px;    padding: 3px 0; background:#f05a28;    width: 50%; color:#fff!important; border:none}
#js-bootstrap-offcanvas{ background:#f2f2f2}
 .offcanvas-toggle .navbar-nav > li > a{ color:#000}
 .offcanvas-toggle.nav > li > a:hover{ border:none; color:#f05a28}
 }


/*responsive tabel css */
@media only screen and (max-width: 640px) {

}


  /* End responsive tabel css */
@media (max-width:480px) {

  
}
@media (max-width: 360px){



} 

@media (max-width: 320px){

	}


