

@media screen and (min-device-width: 768px) and (max-device-width: 1920px) { 

}



@media (max-width: 1024px){

#networking_online{ right: 40px; top: 28%;}
#networking_online .hero-title {font-size: 20px;}
.play-btn{ font-size:15px;}
#networking_online .btn-xl {   width: 123px;}

}
@media (max-width: 990px){
.main-menu {    float: none;    margin: auto;    text-align: center;    width: 68%;}
.video { background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;  height: 574px;padding: 10px 0; position: absolute;top: 0; width: 100%; z-index: 9999;}
.video  video{    margin-top: 149px;    top: 56px;}
.close-view {    display: block;    font-size: 20px;       position: relative;    right: 25px;    z-index: 9999;}
#networking_online{ right: 40px; top: 28%;}
#networking_online .hero-title {font-size:20px;}
.play-btn{ font-size:15px;}
}

@media (max-width: 767px) {
	.login_left a { padding: 5px }
	#networking_online{ right: 40px; top: 28%; text-align:left;}
#networking_online .hero-title {font-size: 20px;}
.offcanvas-toggle.is-open .icon-bar:nth-child(3){    transform: rotate(0deg) translate(0px, 0px) !important;}
.offcanvas-toggle.is-open .icon-bar:nth-child(2){    opacity: 1!important;}
#mainNav{ display:none}


.header-content-inner{ text-align:center}
.grap-mg{ text-align:center}
.section-heading{ text-align:center;}
section h3{ text-align:center}
.together-mob{ text-align:center;padding:0}
.grow-together li{ text-align:center; }
.video-mob{ width:100%; height:auto}
.video-heading{ font-size:20px}
.sign_btn{ margin-left:0; margin-top:10px}
.login-signup .btn{ margin-bottom: 18px;    padding: 3px 0;    width: 50%; color:#fff!important; border:none}
.login-signup .btn:hover{ margin-bottom: 18px;    padding: 3px 0; background:#f05a28;    width: 50%; color:#fff!important; border:none}
#js-bootstrap-offcanvas{ background:#f2f2f2}
.navbar-default .navbar-nav > li > a{ color:#000}
.navbar-default .nav > li > a:hover{ border:none; color:#f05a28}
.main-menu {    float: none;    margin: auto;    text-align: center;    width: 68%;}
.video { background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;  height: 511px;padding: 10px 0; position: absolute;top: 0; width: 100%; z-index: 9999;}
.video  video{    margin-top: 149px;    top: 56px;}
.close-view {    display: block;    font-size: 20px;       position: relative;    right: 25px;    z-index: 9999;}
.hero-subtitle {   font-size: 12px;	}
.carousel-indicators {    bottom: -6px }


/*responsive tabel css */
@media only screen and (max-width: 640px) {
	#networking_online{ right: 40px; top: 28%; text-align:left;}
#networking_online .hero-title {font-size: 20px;}
.play-btn{ display:inline-block}
header {background-position: -169px center;}
.btn-xl {    font-size: 13px;    text-transform: uppercase;    width: 85%;}
.play-btn {      font-size: 16px;margin-left: 0px;margin-top: 8px;  text-decoration: none;}
.hero-title{font-size: 19px;}
.hero-subtitle {   font-size: 12px;	}
.video { background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;  height: 574px;padding: 10px 0; position: absolute;top: 0; width: 100%; z-index: 9999;}
.video  video{    margin-top: 149px;    top: 56px;}
.close-view {    display: block;    font-size: 20px;       position: relative;    right: 25px;    z-index: 9999;}
}


  /* End responsive tabel css */
@media (max-width:480px) {
#networking_online{ right: 40px; top: 28%; text-align:left; padding:10px; border-radius:10px;}

#networking_online .hero-title {font-size: 13px;}
 header {background-position: -169px center;}
.btn-xl {    font-size: 12px;    text-transform: uppercase;    width: 85%;}
.play-btn {      font-size: 12px;margin-left: 0px;margin-top: 8px;  text-decoration: none;}
.hero-title{font-size: 19px;}
.hero-subtitle {   font-size: 16px;	}
.video { background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;  height: 574px;padding: 10px 0; position: absolute;top: 0; width: 100%; z-index: 9999;}
.video  video{    margin-top: 149px;    top: 56px;}
.close-view {    display: block;    font-size: 20px;       position: relative;    right: 25px;    z-index: 9999;}
}
@media (max-width: 360px){
	#networking_online{ right: 40px; top: 28%; text-align:left; padding:10px; border-radius:10px;}

#networking_online .hero-title {font-size: 13px;}

.play-btn{ display:inline-block}

header {background-position: -169px center;}
.btn-xl {    font-size: 12px;    text-transform: uppercase;    width: 85%;}

.play-btn {     font-size: 12px;margin-left: 0px;margin-top: 8px;  text-decoration: none;}
#networking_online .btn-xl { padding: 4px;width: 60px;}
.hero-title{font-size: 19px;}
.hero-subtitle {   font-size: 16px;	}
.video { background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;  height: 574px;padding: 10px 0; position: absolute;top: 0; width: 100%; z-index: 9999;}
.video  video{    margin-top: 149px;    top: 56px;}
.close-view {    display: block;    font-size: 20px;       position: relative;    right: 25px;    z-index: 9999;}
.header-content-inner p { font-size:11px;}
} 

@media (max-width: 320px){
header {background-position: -169px center;}
.btn-xl {    font-size: 12px;    text-transform: uppercase;    }
.play-btn {     font-size: 10px;margin-left: 0px;margin-top: 8px;  text-decoration: none;}

.header-content-inner p { font-size:11px;}
.video { background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;  height: 574px;padding: 10px 0; position: absolute;top: 0; width: 100%; z-index: 9999;}
.video  video{    margin-top: 149px;    top: 56px;}
.close-view {    display: block;    font-size: 20px;       position: relative;    right: 25px;    z-index: 9999;}
}


